.text-justify{
    text-align: justify;
}

.siImg{
    width: 80%;
}


@media (max-width: 768px) {
    .description-wrapper {
        display: none !important;
        visibility: hidden !important;
    }
    
  }

@media (min-width: 768px) {
    .description {
        display: none !important;
        visibility: hidden !important;
    }
  }
  