.secondary-topbar * {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.custom-dropdown-toggle::after {
    display: none !important;
}

.acc-btn *,
.custom-dropdown-toggle {
    text-decoration: none !important;
    text-align: left !important;
    color: black;
}

.custom-dropdown-toggle {
    text-decoration: none !important;
}

.loginbutton {
    font-size: 13px;
}

.header-icon-login {
    width: 35px;
    height: 35px;
}

.header-icon {
    width: 30px;
    height: 30px;
}

.cartletter {
    font-size: 12px;
}


.navtext * {
    color: black !important;
}